h1 {
  height: 54px;
  left: 604px;
  top: 131px;
  text-align: center;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px; 
  color: #26344E;
}