.footer-container {
  background-color: #26344E;
  font-weight: 500;
  display: flex;
  padding: 4rem 0 2rem 0;
  margin-top: 10px 0px 10px 0px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.footer-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #fff;
}

.footer-links {
  width: 100%;
  max-width: 2000px;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
  margin-left: 10px;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}

.footer-link-items img {
  height: 38.87407684326172px;
width: 213.33001708984375px;
margin-bottom: 15px;
left: 90px;
top: 4882px;
border-radius: 0px;

}

.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items > h2 {
  color: #fff;
}

.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-link-items a:hover {
  color: #F1AB27;
  transition: 0.3s ease-out;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

.address{
  color: #fff;
}


.website-rights {
  color: #fff;
  margin-bottom: 16px;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
  
}

@media screen and (max-width: 768px) {
}
